<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); </style>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>

<main class="d-flex flex-nowrap">

  <div class="col">
    <%= render "application/sidebar" %>
  </div>

  <div class="col">
  
  </div>

</main>

  </body>
</html>
