.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #32292F;
    width: 300px;
    max-width: 300px;
    height: -webkit-fill-available;
    max-height: 100vh;
    justify-content: space-between;
  }

.sidebar a {
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    text-decoration: none;
    color: #F0F7F4;
    font-size: 1.7em;
    font-weight: 600;
}

.filter-white {
    filter: invert(100%);
}